.el-popper.el-select__popper {
    .el-select-dropdown {
        &__item {
            height: 40px;
            line-height: 40px;
            font-size: 16px;
            color: #201f1e;
        }

        &__item.selected {
            color: #0151fc;
            font-weight: 400;
            position: relative;
            &::after {
                content: "";
                position: absolute;
                display: inline-block;
                transform: rotate(45deg);
                height: 12px;
                width: 7px;
                border-bottom: 2px solid #0151fc;
                border-right: 2px solid #0151fc;
                right: 20px;
                top: 14px;
            }
        }
    }
}
