.el-popper.popper-validate-password {
  background-color: #f3f2f1;
  // .check-password {
  //     .check-item {
  //         color: red;
  //     }
  // }
  .popper__arrow {
    border-right-color: #ebeef5 !important;
    &::after {
      border-right-color: #f3f2f1 !important;
    }
  }
}

.el-popper.popper-filter {
  padding: 0;
  .content {
    padding: 24px 24px 0;
  }
  .footer {
    padding: 12px 24px;
    border-top: 1px solid #d2d0ce;
    .btn-default-bg {
      width: 100px;
    }
  }
}

.el-popper.popper-filter-nft {
  //padding: 24px 24px 0 24px;
  padding: 0;
  .content {
    padding: 24px 24px 0;
    width: 518px;
    .box {
      .line {
        width: 8px;
        height: 2px;
        background: #dbdbdb;
      }
    }
    .box-input-created-date,
    .box-input-price {
      width: 240px;
    }
  }
  .footer {
    padding: 12px 24px;
    border-top: 1px solid #d2d0ce;
    .btn-default-bg {
      width: 100px;
    }
  }
}

.popper-filter-request-withdraw {
  padding: 24px 24px 0 24px;
  .content {
    .box {
      margin-bottom: 24px;
      .el-input__inner {
        height: 48px;
      }
      .line {
        width: 8px;
        height: 2px;
        background: #dbdbdb;
      }
    }
    .label {
      margin-bottom: 8px;
      font-size: 14px;
      font-weight: 400;
      color: var(--bc-text-primary);
    }
    .el-select {
      width: 100%;
    }
    .box-input-request-date {
      width: 240px;
      .el-input__prefix {
        top: 2px;
      }
    }
  }
  .footer {
    padding-top: 12px;
    padding-bottom: 12px;
    border-top: 1px solid #d2d0ce;
    .btn-default-bg {
      width: 100px;
    }
  }
  .el-tag--info {
    background-color: #f0f5ff;
    color: var(--bc-text-primary);
    border: none;
    height: 28px;
    line-height: 28px;
  }
  .el-icon-close {
    background-color: unset !important;
    font-size: 16px;
    color: #5b616e;
    font-weight: 400;
    &:hover {
      color: #5b616e !important;
    }
  }
}

.popup-transaction-detail {
  .popup-content {
    padding: 0 !important;
    background-color: #f6f8fc;
  }
}

.el-popper.popper-trans-account {
  max-width: 350px;
  .el-scrollbar {
    &__wrap {
      .el-select-dropdown__list {
        .el-select-dropdown__item {
          height: 58px;
          line-height: 58px;
          display: flex;
          align-items: center;

          overflow: hidden;
          .account {
            overflow: hidden;
            // padding-right: 20px;
          }
          p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .account-name {
            margin-bottom: 2px;
            color: #0a0b0d;
          }
          .desc {
            p {
              flex: 1;
            }

            .line {
              width: 120px;
              padding-right: 10px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              position: relative;
              &::after {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                width: 1px;
                height: 100%;
                background: #5b616e;
                opacity: 0.7;
              }
              & + p {
                padding-left: 10px;
              }
            }
          }
        }
      }
    }
  }
}

.el-popper.popper-explore-select-category {
  .el-scrollbar {
    &__wrap {
      .item-parent {
        padding-left: 24px;
        padding-right: 35px;
      }

      .item-child {
        padding-left: 40px;
        padding-right: 35px;
      }

      .item-child-last {
        padding-left: 56px;
        padding-right: 35px;
      }

      .item-parent,
      .selected {
        font-weight: 600 !important;
      }
    }
  }
}
