//language
.select-language {
  .el-input__inner {
    padding-left: 36px !important;
    color: #201f1e;
  }
}

//pagination
.select-pagination {
  .el-scrollbar {
    .el-select-dropdown__list {
      .el-select-dropdown__item {
        font-size: 14px;
        &::after {
          content: "" !important;
        }
      }
    }
  }
}
//popup filter crowdsale
.popup-filter-crowdsale {
  .el-tag--info {
    background-color: #f0f5ff;
    color: var(--bc-text-primary);
    border: none;
    height: 28px;
    line-height: 28px;
  }
  .el-icon-close {
    background-color: unset !important;
    font-size: 16px;
    color: #5b616e;
    font-weight: 400;
    &:hover {
      color: #5b616e !important;
    }
  }
}

.date-picker {
  .el-input__icon {
    line-height: 48px;
  }
}
.popup-filter-crowdsale {
  .el-input__prefix {
    top: 1.8px;
  }
}

.popper-select-role {
  width: 220px !important;
}
// .popup-content {
//   .select .el-input__inner {
//     height: 66px;
//     width: 627px;
//   }
//   .el-input__inner {
//     height: 48px;
//   }
//   .el-checkbox-button__inner {
//     padding: 0;
//   }
//   .el-checkbox-button{
//     .el-checkbox-button__inner {
//       border: none;
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//       .icon-title {
//         font-size: 16px;
//         line-height: 24px;
//         font-weight: 600;
//         color: #0A0B0D;
//       }
//     }
//   }
//   .el-checkbox-button.is-checked {
//     .el-checkbox-button__inner {
//       background-color: #ffffff;
//     }
//   }
// }
