// .popup-member {
//     .content {
//         .form-item {
//             .icon-show-password {
//                 cursor: pointer;
//                 position: absolute;
//                 top: 3px;
//                 right: 14px;
//             }
//         }
//     }
// }
.popup-form {
  .popup-content {
    background-color: #f6f8fc;
    padding: 24px !important; //cần xem lại
  }
  .el-dialog__footer {
    display: none;
  }
}

.el-dialog__footer {
  display: block;
}
.popup-fee {
  .popup-content {
    .input-lg {
      width: 100%;
    }
    .input-small {
      position: relative;
      &.el-input {
        width: 256px;
      }
      .el-input__inner {
        width: 256px;
      }
    }
    .input-small.money {
      .el-input__inner {
        padding-left: 26px;
      }
    }
    .input-small.money::before {
      content: '$';
      font-size: 17px;
      position: absolute;
      top: 8px;
      left: 10px;
      z-index: 2001;
    }
    .input-small.input-error {
      .el-input__inner {
        border-color: #cf202f;
      }
    }
  }
}
.popup-fee-detail {
  .popup-content {
    padding: 0 !important;
    background-color: #f6f8fc;
  }
}
