.bo-request-withdraw {
  //padding-left: 24px;

  .input-search {
    .el-input__inner {
      height: 48px;
      line-height: 1;
      padding-left: 45px;
      color: #0A0B0D;
      font-size: 16px;

    }

    .el-input__prefix {
      line-height: 48px;
      left: 12px;
    }

    ::placeholder {
      color: #89909e;
      opacity: 1; /* Firefox */
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: #89909e;
    }

    ::-ms-input-placeholder { /* Microsoft Edge */
      color: #89909e;
    }
  }
}
