.amount-decrease {
    color: var(--bc-status-error);
}
.amount-increase {
    color: var(--bc-status-success);
}

.amount-btc {
    color: var(--bc-amount-btc);
}
.amount-busd {
    color: var(--bc-amount-busd);
}
.amount-eth {
    color: var(--bc-amount-eth);
}
.amount-usdt {
    color: var(--bc-amount-usdt);
}
.amount-lyn {
    color: var(--bc-amount-lin);
}
.amount-clm {
    color: var(--bc-amount-clm);
}
.amount-lock {
    color: var(--bc-amount-lock);
}
.amount-BTC {
    color: var(--bc-amount-btc);
}
.amount-ETH {
    color: var(--bc-amount-eth);
}
.amount-USDT {
    color: var(--bc-amount-usdt);
}
.amount-BUSD {
    color: var(--bc-amount-busd);
}

.amount-exchange-small {
    font-size: 14px;
    line-height: 20px;
    color: #5b616e;
}
