.fw-600 {
  font-weight: 600;
}
.fs-16 {
  font-size: 16px;
}
.fw-500 {
  font-weight: 500;
}
.fw-400 {
  font-weight: 400;
}
.fs-24 {
  font-size: 24px;
}
.fs-18 {
  font-size: 18px;
}
.fs-14 {
  font-size: 14px;
}
.fs-12 {
  font-size: 12px;
}
.bg-white {
  background: var(--bc-bg-white);
}
.box-shadow {
  box-shadow: 0px 0.3px 0.9px rgba(0, 0, 0, 0.1), 0px 1.6px 3.6px rgba(0, 0, 0, 0.13);
  border-radius: 4px;
}
.inline {
  display: inline-block;
}
.cursor {
  cursor: pointer;
}
.amount-btc{
  color: var(--bc-amount-btc);
}
.amount-locker{
  color: var(--bc-amount-lock);
}
.amount-usdt{
  color: var(--bc-amount-clm);
}
.amount-eth{
  color: var(--bc-amount-eth);
}
.amount-lynk {
  color: var(--bc-amount-lin);
}
.amount-usdc{
  color: var(--bc-amount-usdc);
}
.amount-busd{
   color: var(--bc-amount-busd);
 }
.amount-bnb{
    color: var(--bc-amount-bnb);
  }